# AUTH
SESSION_SECRET=d7da59b6-2ff0-42a6-af96-0c27087b9fef
PWD_SALT_LEN=16
PWD_HASH_LEN=32
PWD_MEM_KIB=64
PWD_TIME=3
PWD_THREADS=4
# SERVER
PORT=3000
MODE=dev

# DATABASE
PG_HOST=localhost
PG_PORT=5501
PG_USER=postgres
PG_PASSWORD=password
PG_DB=local_db
PG_SSL=disable

# TEST DATABASE
TEST_PG_HOST=localhost
TEST_PG_PORT=5502
TEST_PG_USER=postgres
TEST_PG_PASSWORD=password
TEST_PG_DB=test_db
TEST_PG_SSL=disable
